<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Simple Careers</name>
    <description>
        The simplest way to build a career full of passion.
    </description>
    <author email="troy@simple.careers" href="http://www.simple.careers">
        Simple Careers Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
